<section class="new-link" style="margin-top: 100px;">
  <header class="mt-5">
    <h1 class="text-center">
      SUBMIT LINK
    </h1>
  </header>

  <div class="row">
    <div class="col-sm-6 m-auto mt-3">
       <%= render 'form' %>
    </div>
  </div>
</section>